<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PullRequestHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PullRequestHelper.Properties.Settings>
            <setting name="GitHubToken" serializeAs="String">
                <value>5eda3f519cb0ab43f1f5febcf5d382e96f411cf1</value>
            </setting>
            <setting name="GitHubUserName" serializeAs="String">
                <value>RobRobertsCE</value>
            </setting>
            <setting name="GitHubRepoOwner" serializeAs="String">
                <value>CenterEdge</value>
            </setting>
            <setting name="JiraUrl" serializeAs="String">
                <value>https://centeredge.atlassian.net</value>
            </setting>
            <setting name="JiraUserName" serializeAs="String">
                <value>rroberts</value>
            </setting>
            <setting name="JiraUserPassword" serializeAs="String">
                <value>hel-j205</value>
            </setting>
            <setting name="TeamCityUserName" serializeAs="String">
                <value>rroberts</value>
            </setting>
            <setting name="TeamCityPassword" serializeAs="String">
                <value>hel-j205</value>
            </setting>
        </PullRequestHelper.Properties.Settings>
    </userSettings>
</configuration>