<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitHubCE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <GitHubCE.Properties.Settings>
            <setting name="GitHubToken" serializeAs="String">
                <value>eb023f6c8fd227aa65f22390cd00f0dcd9f6f1c6</value>
            </setting>
            <setting name="GitHubUserName" serializeAs="String">
                <value>RobRobertsCE</value>
            </setting>
            <setting name="GitHubRepoOwner" serializeAs="String">
                <value>CenterEdge</value>
            </setting>
            <setting name="JiraUrl" serializeAs="String">
                <value>https://centeredge.atlassian.net</value>
            </setting>
            <setting name="JiraUserName" serializeAs="String">
                <value>rroberts</value>
            </setting>
            <setting name="JiraUserPassword" serializeAs="String">
                <value>hel-j205</value>
            </setting>
            <setting name="RepoList" serializeAs="String">
                <value>["Advantage",
"AdvantageCustomReports",
"AdvantageWeb",
"AdvantageCreditCards",
"AdvantageShared",
"AdvantageDiscountBase",
"AdvantageRelay",
"AdvantageWebAdmin",
"AdvantageSales",
"AdvantageTaxes",
"CenterEdgeSiteInfo",
"AdvantageWebAdmin",
"advantageweb",
"CECloud.Webstores",
"CECloud.RevNu",
"CECloud.Script",
"CenterEdgeHelp",
"advantagecorp",
"CECloud.NodeJSRouter",
"CECloud.Authentication",
"CECloud.Clients",
"CECloud.DataLayer",
"CE.Log",
"CenterEdgeUpgrades",
"CECloud.MVC",
"WPFMediaKit"]</value>
            </setting>
            <setting name="ActiveRepoList" serializeAs="String">
                <value>["Advantage","AdvantageCustomReports","AdvantageWeb","AdvantageCreditCards","AdvantageShared","AdvantageDiscountBase","AdvantageRelay","AdvantageWebAdmin","AdvantageSales","AdvantageTaxes", "CenterEdgeSiteInfo"]</value>
            </setting>
            <setting name="ShowOpenRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClosedRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAMSTeam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRDTeam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClosedInProgress" serializeAs="String">
                <value>True</value>
            </setting>
        </GitHubCE.Properties.Settings>
    </userSettings>
</configuration>